<!DOCTYPE html>
<html >
  {{- partial "head.html" . -}}
  <body>
    <div class="helios-container">
    <div >
      {{- partial "header.html" . -}}
      <div class="helios-middle">
      <aside class="helios-column">
      {{ partial "toc.html" . }}
      </aside>        
      <main id="helios-main-content" class="helios-column">
{{- block "main" . }}
the default main block
{{- end }}
      </main>
      </div>
      {{- partial "footer.html" . -}}
      </div>
      </div>
  </body>
</html>
