<!DOCTYPE html>
<html >
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <h1>{{ .Title }}</h1>
        {{ range .Pages }}
        {{ printf "%+#v" .Title }}
        <div>
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <div class="helios-post-description">{{ .Description }}</div>
        <div class="helios-post-summary">{{ .Summary | plainify | safeHTML }}</div>
        <hr class="helios-post-divider" />
        </div>
        {{ end }}
        {{- partial "footer.html" . -}}
    </body>
</html>
